apiVersion: 1

providers:
  - name: "Linux Security Operations Lab"
    orgId: 1
    folder: "Linux Security Operations Lab"
    type: file
    disableDeletion: false
    editable: true
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards
