{
  "site-alpha": {
    "password": {{ site_alpha_portal_password | to_json }},
    "site_path": "/site-alpha/"
  },
  "site-beta": {
    "password": {{ site_beta_portal_password | to_json }},
    "site_path": "/site-beta/"
  }
}
